<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847957729520-nvke5btpr1mm9i8ctd8t8n3b236jeokh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847957729520-nvke5btpr1mm9i8ctd8t8n3b236jeokh</string>
	<key>API_KEY</key>
	<string>AIzaSyCNAGXfkMzrE6Tcjc9E2IgRY_CtqbWTImo</string>
	<key>GCM_SENDER_ID</key>
	<string>847957729520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapplication</string>
	<key>PROJECT_ID</key>
	<string>chat-app-32fdb</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-32fdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847957729520:ios:0cd74300f541f9734b6235</string>
</dict>
</plist>